<div>
    {{!-- Reminder: examples comes from the data being passed in the res.render on homeRoutes.js! --}}
    {{#if loggedIn }}
  <h1>Welcome {{username}} here are your hobbies:</h1>

  {{#each hobbyArray}}
  {{!-- Reminder- this is a partial! Handlebars will render the code located in items.handlebars in the /partials/ directory! --}}
    <a href="/api/hobbies/{{id}}"><header>{{hobby_name}}</header></a>
  {{/each}}
  {{else}}
  <h1>Welcome to Bonfire</h1>
  <h3>It looks like you havent logged in yet click here: <a href="/login">Login</a></h3>
  {{/if}}
</div>
{{!-- <div>
  {{> thread}}
</div> --}}
{{!-- <div>
  <div>
    <h2>Create New Message</h2>
  </div>
  <form id="new-data-form">
    <label for="data-message">Message</label>
    <textarea name="data-message" ></textarea>

    <button type="submit">Create</button>
  </form>
</div> --}}

<script src="/js/newData.js"></script>